<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles-admin.css">
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <!-- <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header> -->
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">inventory</span> Admin
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item current">
            <a href="/admin">
              <span class="material-icons-outlined">bar_chart</span> Số liệu tổng thế
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/users-admin">
              <span class="material-icons-outlined">group</span> Danh sách người dùng
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/products-admin">
              <span class="material-icons-outlined">inventory_2</span> Danh sách sản phẩm
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/orders-admin">
              <span class="material-icons-outlined">receipt</span> Danh sách đơn hàng
            </a>
          </li>
          <li class="sidebar-list-item logout-hov">
            <a href="/logout">
              <span class="material-icons-outlined">logout</span> Đăng xuất
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <p class="font-weight-bold">Số liệu tổng thể</p>
        </div>

        <div class="main-cards">

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">Người dùng</p>
              <span class="material-icons-outlined text-blue">group</span>
            </div>
            <span class="text-primary font-weight-bold"><%= countUser %></span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">Sản phẩm</p>
              <span class="material-icons-outlined text-orange">inventory_2</span>
            </div>
            <span class="text-primary font-weight-bold"><%= countProduct %></span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">Đơn hàng</p>
              <span class="material-icons-outlined text-green">receipt</span>
            </div>
            <span class="text-primary font-weight-bold"><%= countOrder %></span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">Tổng doanh thu</p>
              <span class="material-icons-outlined text-yellow">attach_money</span>
            </div>
            <span class="text-primary font-weight-bold"><%= totalAmountFormatted %></span>
          </div>

          <!-- <div class="card">
            <div class="card-inner">
              <p class="text-primary">INVENTORY ALERTS</p>
              <span class="material-icons-outlined text-red">notification_important</span>
            </div>
            <span class="text-primary font-weight-bold">56</span>
          </div> -->

        </div>
      </main>
      <!-- End Main -->

    </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script src="js/scripts.js"></script>
  </body>
</html>